body {
  font-family: arial, helvetica, verdana;
}

h1, h2, h3, h4 {
  color: #777;
}

section {
  margin: 1em;
  display: inline-block;
  vertical-align: top;
}

#square {
  width: 200px;
  height: 200px;
  background-color: #000;
  position: relative;
  margin: auto;
}

#square table {
  color: #FFF;
  width: 100%;
}

#square .open {
  width: 15px;
  height: 15px;
  background-color: #FFF;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
}

#square .reset {
  width: 15px;
  height: 15px;
  background-color: #FF0;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
}

#square .paint, #square .show {
  cursor: pointer;
}

#root {
  border: 1px solid black;
  padding: 10px;
  margin: 30px 0 0 0;
}

.item {
  background: yellow;
  margin: 10px 0;
}

.item2 {
  background: green;
}

.check, .close {
  padding: .2em;
  text-decoration: none;
}

.check {
  color: green;
}

.close {
  color: red;
}

.checked {
  text-decoration: line-through;
}
