/node_modules
/src
/app
/config
/lib/css
/lib/app
/lib/favicon.ico
/lib/index.html
/lib/response.json
.gitattributes
.gitignore
jsonconfig.json
*.lock
*.log
!.gitkeep
# Windows detritus
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
